body{
    border: 5px solid lightblue;
    background-color:aliceblue;
}

a{
    display: block;
    background-color: whitesmoke;
    padding: 8px;
    border: 1px solid lightblue;
}

.card{
    display: inline-block;
    text-align: center;
    margin: 20px;
    padding: 5px;
    width: 700px;
    background-color: whitesmoke;
    border: 1px solid lightblue;
}

.card2{
    display: inline-block;
    margin: 20px;
}

.card.side{
    display: block;
}
.card.side li{
    text-align: left;
}