.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 600px;
    height: auto;
    margin: 0 auto;
    padding: 16px;
    border: 5px solid lightblue;
    background-color:aliceblue;
    text-align: center;
}

li{
    display: inline-block;
    background-color: whitesmoke;
    padding: 8px;
    border: 1px solid lightblue;
}